@inject SignInManager<IdentityUser> signInManager;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CrashySmashy</title>
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/layout.css" rel="stylesheet" />
</head>
<body>
    <header>
        <!-- Sidebar -->
        <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
            <div class="position-sticky">
                @if (signInManager.IsSignedIn(User))
                {

                    <a class="navbar-nav ms-auto d-flex flex-row  list-group-item-action ripple buttonL justify-content-center" href="/account/logout">Logout</a>
                }
                else
                {
                    <a class="navbar-nav ms-auto d-flex flex-row list-group-item-action ripple buttonL justify-content-center" href="/account/login">Login</a>
                }
                <div class="list-group list-group-flush mx-3 mt-4">

                    <a asp-controller="Home" asp-action="Index"
                       class="list-group-item list-group-item-action py-2 ripple"
                       aria-current="true">
                        <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Home</span>
                    </a>
                    <a asp-controller="Home" asp-action="Admin"
                       class="list-group-item list-group-item-action py-2 ripple"
                       aria-current="true">
                        <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Admin dashboard</span>
                    </a>
                    <a asp-controller="Inference" asp-action="AnalyticsMaster" class="list-group-item list-group-item-action py-2 ripple">
                        <i class="fas fa-chart-line fa-fw me-3"></i><span>Predict accident severity</span>
                    </a>

                    <a asp-area="" asp-controller="Home" asp-action="SeeTable" class="list-group-item list-group-item-action py-2 ripple">
                        <i class="fas fa-chart-pie fa-fw me-3"></i><span>All accidents</span>
                    </a>

                    <a asp-area="" asp-controller="Home" asp-action="Search" class="list-group-item list-group-item-action py-2 ripple">
                        <i class="fas fa-chart-pie fa-fw me-3"></i><span>Search</span>
                    </a>
                    <a asp-controller="Home" asp-action="Create" class="list-group-item list-group-item-action py-2 ripple"><i class="fas fa-chart-bar fa-fw me-3"></i><span>Report an accident</span></a>


                    <a asp-controller="Home" asp-action="Create" class="list-group-item list-group-item-action py-2 ripple"><i class="fas fa-chart-bar fa-fw me-3"></i><span>Report an accident</span></a>
                </div>
            </div>
        </nav>
        <!-- Sidebar -->
        <!-- Navbar -->
        <!-- Navbar -->
    </header>
    <div class="divpad">
        

        <main role="main" class="pb-3">
            <br />
            <br />
            <br />
            @RenderBody()
            <br />
            <partial name="_CookieConsentPartial" />
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container text-center">
            &copy; 2022 - CrashySmashy - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
