@{
    Layout = null;
}

@model LoginModel

<html>


<head>
    <meta name="viewport" content="width=device-width" />
    <title>Admin Login</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>


<body>

    <div class="bg-dark text-white p-2">
        <span class="navbar-brand m-1-2">Login</span>
    </div>

    <div class="m-1 p-1">
        <div class="text-danger" asp-validation-summary="All"></div>

        <form method="post" asp-controller="Account" asp-action="Login">

            <div class="form-group">
                <label asp-for="Username">Username:</label>
                <input asp-for="Username" class="form-control" autofocus/>
            </div>

            <div class="form-group">
                <label asp-for="Password">Password:</label>
                <input asp-for="Password" class="form-control" type="password" />
            </div>

            <button class="btn btn-primary" type="submit">Login</button>


            <input type="hidden" asp-for="ReturnUrl" />

        </form>
    </div>


</body>


</html>