@{
    Layout = null;
}

@model LoginModel

<html>

@*THIS IS OUR LOGIN PAGE. IT WILL ALLOW SOMEONE TO LOG IN TO THE WEBSITE AND ACCESS CRUD THINGS. IT WILL NOT HAVE ALL FUNCTIONALITY OTHERWISE.*@

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Admin Login</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>


<body>

    <div class="bg-dark text-white p-2">
        <span class="navbar-brand m-1-2">Login</span>
    </div>

    <div class="m-1 p-1">

        <form method="post" asp-controller="Account" asp-action="Login">
            @*THIS IS WHERE THEY ENTER THEIR USERNAME*@
            <div class="form-group">
                <label asp-for="Username">Username:</label>
                <input asp-for="Username" class="form-control" autofocus required/>
            </div>

            @*THIS IS WHERE THEY ENTER THEIR PASSWORD*@
            <div class="form-group">
                <label asp-for="Password">Password:</label>
                <input asp-for="Password" class="form-control" type="password" required />
            </div>

            <button class="btn btn-primary" type="submit">Login</button>


            <input type="hidden" asp-for="ReturnUrl" />

        </form>
    </div>


</body>


</html>