@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>

    <meta name="viewport" content="width=device-width" />

    <title>VerifyAuth</title>

</head>

<body>

    @*THIS PAGE WILL LET A USER INPUT A CODE FROM THEIR PHONE AND THE WEBSITE WILL THEN AUTHENTICATE IT. If the code entered is wrong, then it is not going to be authenticated from the multifactorthing.*@
    <div>
        <div asp-validation-summary="All"></div>

        <div align="center" style="width:100%">

            <div style="width:300px;"></div>

            <form method="post">

                <br />

                <div>

                    @*Uncomment this line to View Barcode*@
                    @*<img src="@ViewBag.BarcodeImageUrl" />*@

                </div>

                <br />

                <input style="width:200px;" placeholder="Enter code here..." type="text" name="passcode" />

                <input type="submit" value="Login" class="btn btn-success" />

            </form>

        </div>

    </div>

</body>

</html>