@{
    ViewData["Title"] = "Analytics Page";
}
@model crash_severity_data

<div class="text-center">

    <h1 class="">Machine Learning COOL</h1>
    <br />
    <h4>Don't yeet your car off the road folks</h4>
    <a asp-controller="Home" asp-action="Index">Go HOME</a> |
    <a asp-controller="Home" asp-action="SeeTable">See all the records</a>

</div>

<div>
    <form method="post" asp-action="Score" asp-controller="Inference">

        <label asp-for="milepoint"> milepoint</label> <input asp-for="milepoint" /><br />
        <label asp-for="hour">hour</label><input asp-for="hour" /><br />
        <label asp-for="month">month </label><input asp-for="month" /><br />
        <label asp-for="weekday">weekday</label><input asp-for="weekday" /><br />
        <label asp-for="work_zone_related_True">work_zone_related_True </label><input asp-for="work_zone_related_True" /><br />
        <label asp-for="pedestrian_involved_True">pedestrian_involved_True </label><input asp-for="pedestrian_involved_True" /><br />
        <label asp-for="bicyclist_involved_True">bicyclist_involved_True </label><input asp-for="bicyclist_involved_True" /><br />
        <label asp-for="motorcycle_involved_True">motorcycle_involved_True </label><input asp-for="motorcycle_involved_True" /><br />
        <label asp-for="improper_restraint_True">improper_restraint_True</label><input asp-for="improper_restraint_True" /><br />
        <label asp-for="unrestrained_True">unrestrained_True</label><input asp-for="unrestrained_True" /><br />
        <label asp-for="dui_True">dui_True</label><input asp-for="dui_True" /><br />
        <label asp-for="intersection_related_True"> intersection_related_True</label> <input asp-for="intersection_related_True" /><br />
        <label asp-for="wild_animal_related_True">wild_animal_related_True</label><input asp-for="wild_animal_related_True" /><br />
        <label asp-for="domestic_animal_related_True">domestic_animal_related_True </label><input asp-for="domestic_animal_related_True" /><br />
        <label asp-for="overturn_rollover_True">overturn_rollover_True</label><input asp-for="overturn_rollover_True" /><br />
        <label asp-for="commercial_motor_veh_involved_True">commercial_motor_veh_involved_True </label><input asp-for="commercial_motor_veh_involved_True" /><br />
        <label asp-for="teenage_driver_involved_True">teenage_driver_involved_True </label><input asp-for="teenage_driver_involved_True" /><br />
        <label asp-for="older_driver_involved_True">older_driver_involved_True </label><input asp-for="older_driver_involved_True" /><br />
        <label asp-for="night_dark_condition_True">night_dark_condition_True </label><input asp-for="night_dark_condition_True" /><br />
        <label asp-for="single_vehicle_True">single_vehicle_True</label><input asp-for="single_vehicle_True" /><br />
        <label asp-for="distracted_driving_True">distracted_driving_True</label><input asp-for="distracted_driving_True" /><br />
        <label asp-for="drowsy_driving_True">drowsy_driving_True</label><input asp-for="drowsy_driving_True" /><br />
        <label asp-for="roadway_departure_True"> roadway_departure_True</label> <input asp-for="roadway_departure_True" /><br />
        <label asp-for="county_name_Other">county_name_Other</label><input asp-for="county_name_Other" /><br />
        <label asp-for="county_name_SALT_LAKE">county_name_SALT_LAKE </label><input asp-for="county_name_SALT_LAKE" /><br />
        <label asp-for="county_name_UTAH">county_name_UTAH</label><input asp-for="county_name_UTAH" /><br />
        <label asp-for="county_name_WEBER">county_name_WEBER </label><input asp-for="county_name_WEBER" /><br />
        <label asp-for="city_Other">city_Other </label><input asp-for="city_Other" /><br />
        <label asp-for="city_SALT_LAKE_CITY">city_SALT_LAKE_CITY </label><input asp-for="city_SALT_LAKE_CITY" /><br />
        <label asp-for="city_WEST_VALLEY_CITY">city_WEST_VALLEY_CITY </label><input asp-for="city_WEST_VALLEY_CITY" /><br />
        <label asp-for="route_89">route_89</label><input asp-for="route_89" /><br />
        <label asp-for="route_Other">route_Other</label><input asp-for="route_Other" /><br />
        <button type="submit">SUBMIT</button>
    </form>
</div>

<div>
    prediction = @ViewBag.prediction
</div>
<p>Cool phenomenon 1</p>
<img src="~/img/carcrash1.jpg" />
<p>Cool phenomenon 2</p>
<img src="~/img/carcrash2.jpg" />
<p>Cool phenomenon 3</p>
<img src="~/img/carcrash4.jpg" />
<p>Cool phenomenon 4</p>
<img src="~/img/carcrash5.webp" />