@{
    ViewData["Title"] = "Analytics Page";
}
@model crash_severity_data

<div class="text-center">

    <h1 class="">Machine Learning COOL</h1>
    <br />
    <h4>Don't yeet your car off the road folks</h4>
    <a asp-action="Index">Go HOME</a> |
    <a asp-action="SeeTable">See all the records</a>

</div>

<div>
    <form method="post" asp-action="Score" asp-controller="Inference">
        all of our cool inputs
        <label asp-for="MILEPOINT"> MILEPOINT</label> <input asp-for="MILEPOINT"/><br />
        <label asp-for="LAT_UTM_Y">LAT_UTM_Y</label><input asp-for="LAT_UTM_Y" /><br />
        <label asp-for="LONG_UTM_X">LONG_UTM_X </label><input asp-for="LONG_UTM_X" /><br />
        <label asp-for="COUNTY_NAME_SALT_Lake">COUNTY_NAME_SALT_Lake</label><input asp-for="COUNTY_NAME_SALT_Lake" /><br />
        @*<label asp-for="CRASH_SEVERITY_ID">CRASH_SEVERITY_ID </label><input asp-for="CRASH_SEVERITY_ID" /><br />*@
        <label asp-for="INTERSECTION_RELATED_TRUE">INTERSECTION_RELATED_TRUE </label><input asp-for="INTERSECTION_RELATED_TRUE" /><br />
        <label asp-for="TEENAGE_DRIVER_INVOLVED_TRUE">TEENAGE_DRIVER_INVOLVED_TRUE </label><input asp-for="TEENAGE_DRIVER_INVOLVED_TRUE" /><br />
        <label asp-for="NIGHT_DARK_CONDITION_TRUE">NIGHT_DARK_CONDITION_TRUE </label><input asp-for="NIGHT_DARK_CONDITION_TRUE" /><br />
        <label asp-for="SINGLE_VEHICLE_TRUE">SINGLE_VEHICLE_TRUE </label><input asp-for="SINGLE_VEHICLE_TRUE" /><br />
        <label asp-for="HOUR">HOUR</label><input asp-for="HOUR" /><br />
        <label asp-for="MONTH">MONTH</label><input asp-for="MONTH" /><br />
        <label asp-for="WEEKDAY">WEEKDAY</label><input asp-for="WEEKDAY" /><br />
        <button type="submit">SUBMIT</button>
    </form>
</div>

<div>
    prediction = @ViewBag.Prediction
</div>
<p>Cool phenomenon 1</p>
<img src="~/img/carcrash1.jpg" />
<p>Cool phenomenon 2</p>
<img src="~/img/carcrash2.jpg" />
<p>Cool phenomenon 3</p>
<img src="~/img/carcrash4.jpg" />
<p>Cool phenomenon 4</p>
<img src="~/img/carcrash5.webp" />