@{
    ViewData["Title"] = "Analytics Page";
}

<div class="text-center">

    <h1 class="">Machine Learning COOL</h1>
    <br />
    <h4>Don't yeet your car off the road folks</h4>
    <a asp-action="Index">Go HOME</a> |
    <a asp-action="SeeTable">See all the records</a>

</div>

<p>Cool phenomenon 1</p>
<img src="~/img/carcrash1.jpg" />
<p>Cool phenomenon 2</p>
<img src="~/img/carcrash2.jpg" />
<p>Cool phenomenon 3</p>
<img src="~/img/carcrash4.jpg" />
<p>Cool phenomenon 4</p>
<img src="~/img/carcrash5.webp" />