@{
    ViewData["Title"] = "Create";

}
@model Crash
<h1>Please fill out your information here!</h1>

<div>
    <form>

        <div asp-validation-summary="All"></div>
        <input type="hidden" asp-for="CRASH_ID" />
        <br />

        <label asp-for="CRASH_DATETIME">Crash Date:</label>
        <input type="datetime-local" />
        <br />

        <label asp-for="CRASH_SEVERITY_ID">Crash Severity:</label>
        <select asp-for="CRASH_SEVERITY_ID">
            <option value="1">No Injury</option>
            <option value="2">Possible Injury</option>
            <option value="3">Suspected Minor Injury</option>
            <option value="4">Suspected Serious Injury</option>
            <option value="5">Fatal</option>

        </select>
        <br />
        <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            General Information
                        </button>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">

                    </div>
                </div>
            </div>


            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Location Information
                        </button>
                    </h5>
                </div>
                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        <label asp-for="MAIN_ROAD_NAME">Street:</label>
                        <input asp-for="MAIN_ROAD_NAME" />
                        <br />
                        <br />


                        <div class="form-group">
                            <div class="form-group col-md-4">
                                <label asp-for="CITY">City</label>
                                <select class="form-control" id="inputCity" asp-for="CITY">
                                    <option></option>
                                    @foreach (var city in ViewBag.cities)
                                    {
                                        <option>@city</option>
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="form-group col-md-4">
                                <label asp-for="COUNTY_NAME">County</label>
                                <select class="form-control" id="inputCounty" asp-for="COUNTY_NAME">
                                    <option></option>
                                    @foreach (var county in ViewBag.counties)
                                    {
                                        <option>@county</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="card">
                <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Additional Information
                        </button>
                    </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        <label asp-for="COUNTY_NAME">County</label>
                        <select asp-for="COUNTY_NAME">
                            <option value="0">salt lake</option>
                            <option value="SALT LAKE">testing</option>
                            <option value="SALT LAKE">testing 2</option>
                        </select>
                        <br />
                    </div>
                </div>
            </div>
        </div>

        <button class="btn btn-success" type="submit">Submit</button>
    </form>
</div>