@{
    ViewData["Title"] = " Index Page";
}



<body>
    <div class="text-center">
        <h1 class="">The Utah Crash Index</h1>
        <h4>Don't yeet your car off the road folks</h4>
        <a asp-action="Search">Find specific accident</a> |
        <a asp-action="SeeTable">View all accidents</a>
        <br />
        <div class="row">
            <img class="col-12" src="~/img/istockphoto-451333971-170667a.jpg" />
        </div>
        <br />    

    </div>

    <hr />


    <div class="row">
        <div class="col-12">
            <h3>Driver Education</h3>
        </div>
        <div class="col-6">
           
            <img class="col-12" src="~/img/drivingSigns.jpeg" />

        </div>
        <div class="col-6">
            <h3>Drivers Education</h3>
            <br>Education of upcoming drivers is very important. If we can help inform them about the risks of driving and show different

            .col-7<br>Subsequent columns continue along the new line.
            .col-7<br>Subsequent columns continue along the new line.
            .col-7<br>Subsequent columns continue along the new line.
            .col-7<br>Subsequent columns continue along the new line.
            .col-7<br>Subsequent columns continue along the new line.
            .col-7<br>Subsequent columns continue along the new line.
            .col-7<br>Subsequent columns continue along the new line.
            .col-7<br>Subsequent columns continue along the new line.
            <br />

        </div>
    </div>
    <br />       

    <hr />

    <div class="row">
        <div class="col-12">
            <h3> Column Heading</h3>
        </div>
        <div class="col-5">
            .col-4<br>Since 9 + 4 = 13 &gt; 12, this 4-column-wide div gets wrapped onto a new line as one contiguous unit.
            .col-4<br>Since 9 + 4 = 13 &gt; 12, this 4-column-wide div gets wrapped onto a new line as one contiguous unit.
            .col-4<br>Since 9 + 4 = 13 &gt; 12, this 4-column-wide div gets wrapped onto a new line as one contiguous unit.
            .col-4<br>Since 9 + 4 = 13 &gt; 12, this 4-column-wide div gets wrapped onto a new line as one contiguous unit.
            .col-4<br>Since 9 + 4 = 13 &gt; 12, this 4-column-wide div gets wrapped onto a new line as one contiguous unit.
            <br />
            <img class="col-12" src="~/img/istockphoto-451333971-170667a.jpg" />

        </div>
        <div class="col-7">
            .col-7<br>Subsequent columns continue along the new line.
            .col-7<br>Subsequent columns continue along the new line.
            .col-7<br>Subsequent columns continue along the new line.
            .col-7<br>Subsequent columns continue along the new line.
            .col-7<br>Subsequent columns continue along the new line.
            .col-7<br>Subsequent columns continue along the new line.
            .col-7<br>Subsequent columns continue along the new line.
            .col-7<br>Subsequent columns continue along the new line.
            .col-7<br>Subsequent columns continue along the new line.
            <br />
            <img class="col-12" src="~/img/istockphoto-451333971-170667a.jpg" />

        </div>
    </div>
    <br />      


    <hr />



    <div class="row">
        <div class="col-12">
            <h3> Column Heading</h3>
        </div>
        <div class="col-4">
            .col-4<br>Since 9 + 4 = 13 &gt; 12, this 4-column-wide div gets wrapped onto a new line as one contiguous unit.
            .col-4<br>Since 9 + 4 = 13 &gt; 12, this 4-column-wide div gets wrapped onto a new line as one contiguous unit.
            .col-4<br>Since 9 + 4 = 13 &gt; 12, this 4-column-wide div gets wrapped onto a new line as one contiguous unit.
            .col-4<br>Since 9 + 4 = 13 &gt; 12, this 4-column-wide div gets wrapped onto a new line as one contiguous unit.
            .col-4<br>Since 9 + 4 = 13 &gt; 12, this 4-column-wide div gets wrapped onto a new line as one contiguous unit.<br />
            <img class="col-12" src="~/img/istockphoto-451333971-170667a.jpg" />

        </div>
        <div class="col-4">
            .col-4<br>Since 9 + 4 = 13 &gt; 12, this 4-column-wide div gets wrapped onto a new line as one contiguous unit.
            .col-4<br>Since 9 + 4 = 13 &gt; 12, this 4-column-wide div gets wrapped onto a new line as one contiguous unit.
            .col-4<br>Since 9 + 4 = 13 &gt; 12, this 4-column-wide div gets wrapped onto a new line as one contiguous unit.
            .col-4<br>Since 9 + 4 = 13 &gt; 12, this 4-column-wide div gets wrapped onto a new line as one contiguous unit.
            .col-4<br>Since 9 + 4 = 13 &gt; 12, this 4-column-wide div gets wrapped onto a new line as one contiguous unit.
            <br />
            <img class="col-12" src="~/img/istockphoto-451333971-170667a.jpg" />

        </div>
        <div class="col-4">
            .col-4<br>Since 9 + 4 = 13 &gt; 12, this 4-column-wide div gets wrapped onto a new line as one contiguous unit.
            .col-4<br />Since 9 + 4 = 13 &gt; 12, this 4-column-wide div gets wrapped onto a new line as one contiguous unit.
            .col-4<br>Since 9 + 4 = 13 &gt; 12, this 4-column-wide div gets wrapped onto a new line as one contiguous unit.
            .col-4<br />Since 9 + 4 = 13 &gt; 12, this 4-column-wide div gets wrapped onto a new line as one contiguous unit.
            .col-4<br>Since 9 + 4 = 13 &gt; 12, this 4-column-wide div gets wrapped onto a new line as one contiguous unit.
            <br />
            <img class="col-12" src="~/img/istockphoto-451333971-170667a.jpg" />

        </div>
    </div>
    <br />
</body>
