@{
    ViewData["Title"] = " Home";
}



<body>
    <div class="text-center">
        <h1 class="">The Utah Crash Index</h1>
        <h4>Don't yeet your car off the road folks</h4>

        <br />
        <div class="row">

            <img class="col-12" src="~/img/istockphoto-451333971-170667a.jpg" />

        </div>
        <br />    

    </div>

    <hr />

    @*This is the first section of the Index page!*@
    <div class="row">        
        <div class="col-6 align-self-center">           
            <img class="col-12" src="~/img/carsAbove.jpeg" />
        </div>
        <div class="col-6 align-self-center">
            <h3>Our Mission</h3>            
            <p>
                We are extremely dedicated to storing data collected by the Utah Department of Transportation in order to educate drivers. We also use
                data to make predictions about crash severity based on many different factors such as date, location, and driving conditions.
                We value data integrity and use our information to make sure that our predictions are accurate and reliable.
            </p>
            <br>
            <p>Learn more by clicking <a href="#ourMission"> here.</a></p>
            
        </div>
    </div>
    <br />       

    <hr />

    <div class="row">

        <div class="col-6 align-self-center">
            <h3>Driver Education</h3>
            <p>
                Education of upcoming drivers is important. By informing them about the risks of driving, we can help mitigate the devastating effects of fatal crashes.
                and show different factors. 

            </p>
            <br />
            <p>Educate students <a asp-controller="Inference" asp-action="AnalyticsMaster"> here.</a></p>
        </div>
        <div class="col-6 align-self-center">

            <img class="col-12" src="~/img/driverEducation.jpeg" />

        </div>
    </div>
    <br />       

    <hr />

    <div class="row">
        <div class="col-12" id="ourMission">
            <h3> Column Heading</h3>
        </div>
        <div class="col-5">
            .col-4<br>Since 9 + 4 = 13 &gt; 12, this 4-column-wide div gets wrapped onto a new line as one contiguous unit.
            .col-4<br>Since 9 + 4 = 13 &gt; 12, this 4-column-wide div gets wrapped onto a new line as one contiguous unit.
            .col-4<br>Since 9 + 4 = 13 &gt; 12, this 4-column-wide div gets wrapped onto a new line as one contiguous unit.
            .col-4<br>Since 9 + 4 = 13 &gt; 12, this 4-column-wide div gets wrapped onto a new line as one contiguous unit.
            .col-4<br>Since 9 + 4 = 13 &gt; 12, this 4-column-wide div gets wrapped onto a new line as one contiguous unit.
            <br />
            <img class="col-12" src="~/img/istockphoto-451333971-170667a.jpg" />

        </div>
        <div class="col-7">
            .col-7<br>Subsequent columns continue along the new line.
            .col-7<br>Subsequent columns continue along the new line.
            .col-7<br>Subsequent columns continue along the new line.
            .col-7<br>Subsequent columns continue along the new line.
            .col-7<br>Subsequent columns continue along the new line.
            .col-7<br>Subsequent columns continue along the new line.
            .col-7<br>Subsequent columns continue along the new line.
            .col-7<br>Subsequent columns continue along the new line.
            .col-7<br>Subsequent columns continue along the new line.
            <br />
            <img class="col-12" src="~/img/istockphoto-451333971-170667a.jpg" />

        </div>
    </div>
    <br />      


    <hr />



    <div class="row">
        <div class="col-12">
            <h3> Column Heading</h3>
        </div>
        <div class="col-4">
            .col-4<br>Since 9 + 4 = 13 &gt; 12, this 4-column-wide div gets wrapped onto a new line as one contiguous unit.
            .col-4<br>Since 9 + 4 = 13 &gt; 12, this 4-column-wide div gets wrapped onto a new line as one contiguous unit.
            .col-4<br>Since 9 + 4 = 13 &gt; 12, this 4-column-wide div gets wrapped onto a new line as one contiguous unit.
            .col-4<br>Since 9 + 4 = 13 &gt; 12, this 4-column-wide div gets wrapped onto a new line as one contiguous unit.
            .col-4<br>Since 9 + 4 = 13 &gt; 12, this 4-column-wide div gets wrapped onto a new line as one contiguous unit.<br />
            <img class="col-12" src="~/img/istockphoto-451333971-170667a.jpg" />

        </div>
        <div class="col-4">
            .col-4<br>Since 9 + 4 = 13 &gt; 12, this 4-column-wide div gets wrapped onto a new line as one contiguous unit.
            .col-4<br>Since 9 + 4 = 13 &gt; 12, this 4-column-wide div gets wrapped onto a new line as one contiguous unit.
            .col-4<br>Since 9 + 4 = 13 &gt; 12, this 4-column-wide div gets wrapped onto a new line as one contiguous unit.
            .col-4<br>Since 9 + 4 = 13 &gt; 12, this 4-column-wide div gets wrapped onto a new line as one contiguous unit.
            .col-4<br>Since 9 + 4 = 13 &gt; 12, this 4-column-wide div gets wrapped onto a new line as one contiguous unit.
            <br />
            <img class="col-12" src="~/img/istockphoto-451333971-170667a.jpg" />

        </div>
        <div class="col-4">
            .col-4<br>Since 9 + 4 = 13 &gt; 12, this 4-column-wide div gets wrapped onto a new line as one contiguous unit.
            .col-4<br />Since 9 + 4 = 13 &gt; 12, this 4-column-wide div gets wrapped onto a new line as one contiguous unit.
            .col-4<br>Since 9 + 4 = 13 &gt; 12, this 4-column-wide div gets wrapped onto a new line as one contiguous unit.
            .col-4<br />Since 9 + 4 = 13 &gt; 12, this 4-column-wide div gets wrapped onto a new line as one contiguous unit.
            .col-4<br>Since 9 + 4 = 13 &gt; 12, this 4-column-wide div gets wrapped onto a new line as one contiguous unit.
            <br />
            <img class="col-12" src="~/img/istockphoto-451333971-170667a.jpg" />

        </div>
    </div>
    <br />
</body>
