@{
    ViewData["Title"] = " Home";
}



<body>
    <div class="text-center">
        <h1 class="title-text">Crashy Smashy</h1>
        <h4>The Utah Crash Index</h4>

        <br />
        <a class="btn btn-outline-dark btn-lg" asp-controller="Home" asp-action="Search">Search Accidents</a>
        <a class="btn btn-outline-dark btn-lg" asp-controller="Home" asp-action="Create">Report an Accident</a>
        <br />

    </div>
    <br />
    <hr />
    <br />
    @*This is the first section of the Index page!*@
    <div class="row">        
        <div class="col-6 align-self-center">           
            <img class="col-12" src="~/img/carsAbove.jpeg" />
        </div>
        <div class="col-6 align-self-center">
            <h3>Our Mission</h3>            
            <p>
                We are extremely dedicated to storing data collected by the Utah Department of Transportation in order to educate drivers. We also use
                data to make predictions about crash severity based on many different factors such as date, location, and driving conditions.
                We value data integrity and use our information to make sure that our predictions are accurate and reliable.
            </p>
            <br>
            <p>Learn more by clicking <a class="link-primary" href="#ourMission"> here.</a></p>
            
        </div>
    </div>
    <br />       

    <hr />

    <br />
    <div class="row">

        <div class="col-6 align-self-center">
            <h3>Driver Education</h3>
            <p>
                Educating our future drivers is important. By informing them about the risks of driving, we can help mitigate the devastating effects of fatal crashes.
                We have designed an application to integrate teaching with important information in a fun and interactive way.

            </p>
            <br />
            <p>Educate students <a class="link-primary" asp-controller="Inference" asp-action="AnalyticsMaster"> here.</a></p>
        </div>
        <div class="col-6 align-self-center">

            <img class="col-12" src="~/img/driverEducation.jpeg" />

        </div>
    </div>          


    <br />
    <hr />
    <br />


    <div class="row" id="ourMission">
        <div class="col-4">
            <p>Click <a class="link-primary" href="https://www.udot.utah.gov/connect/">here</a> to learn more about what the Utah Department of Transportation is doing to keep drivers safe.</p>

        </div>
        <div class="col-4">
            <p>Learn more about recently <a class="link-primary" asp-controller="Home" asp-action="SeeTable">reported accidents</a> or <a class="link-primary" asp-controller="Home" asp-action="Search">search</a> for a sepcific accident.</p>

        </div>
        <div class="col-4">
            <p>Learn more about Utah's public transportation system and ride on <a class="link-primary" href="https://www.rideuta.com/">UTA</a>.</p>

        </div>
    </div>
    <br />
</body>
