@{
    ViewData["Title"] = " Index Page";
}



<body>
    <div class="text-center">
        <h1 class="">The Utah Crash Index</h1>
        <br />
        <img style="background-image" width="900px" height="450px" src="~/img/istockphoto-451333971-170667a.jpg" />
        <br />        <br />
        <h4>Don't yeet your car off the road folks</h4>
        <a asp-action="Search">Find specific accident</a> |
        <a asp-action="SeeTable">View all accidents</a>

    </div>

</body>
