@{
    ViewData["Title"] = " Index Page";
}

<div class="text-center mt-5">
    <br />
    <h1 class="">The Utah Crash Index</h1>
    <br />
    <h4>Don't yeet your car off the road folks</h4>
    <a asp-action="Search">Search based on certain criteria!</a> | 
    <a asp-action="SeeTable">See all the records</a>

</div>
<p> TEST TEST TEST TESST TEST TEST TESST TEST TEST TESST TEST TEST TESST TEST TEST TESST TEST TEST TESST TEST TEST TESST TEST TEST TESST TEST TEST TESST TEST TEST TESST TEST TEST TESST TEST TEST TESST TEST TEST TESST TEST TEST TESST TEST TEST TESST TEST TEST TESST TEST TEST TESST TEST TEST TESST TEST TEST TESST TEST TEST TESST TEST TEST TEST</p>