@{
    ViewData["Title"] = " Home";
}



<body>
    <div class="text-center">
        <br />
        <h1 class="title-text">The Utah Crash Index</h1>
        <h4>Don't yeet your car off the road folks</h4>

        <br />
        <a class="btn btn-outline-dark btn-lg" asp-controller="Home" asp-action="Search">Search Accidents</a>
        <a class="btn btn-outline-dark btn-lg" asp-controller="Home" asp-action="Create">Report an Accident</a>
        <br />

    </div>
    <br />
    <hr />
    <br />
    @*This is the first section of the Index page!*@
    <div class="row">        
        <div class="col-6 align-self-center">           
            <img class="col-12" src="~/img/drivingSigns.jpeg" />
        </div>
        <div class="col-6 align-self-center">
            <h3>Drivers Education</h3>            
            <p>
                Education of upcoming drivers is very important. If we can help inform them about the risks of driving and show different yadda. More text
                can go here later, right now I'm just putting some filler data here. THanks so much to all of our sponsors, yayayayay
            </p>
            <br>Subsequent columns continue along the new line.                 
        </div>
    </div>
    <br />       

    <hr />

    <div class="row">

        <div class="col-6 align-self-center">
            <h3>Accident Reports</h3>
            <p>Education of upcoming drivers is very important. If we can help inform them about the risks of driving and show different</p>

        </div>
        <div class="col-6 align-self-center">

            <img class="col-12" src="~/img/drivingSigns.jpeg" />

        </div>
    </div>          

    <br />
    <hr />
    <br />


    <div class="row">
        <div class="col-4">
            <p>Click <a class="link-primary" href="https://www.udot.utah.gov/connect/">here</a> to Learn more about what the Utah Department of Transportation is doing to keep drivers safe.</p>

        </div>
        <div class="col-4">
            <p>Click <a class="link-primary" href="https://www.udot.utah.gov/connect/">here</a> to Learn more about what the Utah Department of Transportation is doing to keep drivers safe.</p>

        </div>
        <div class="col-4">
            <p>Click <a class="link-primary" href="https://www.udot.utah.gov/connect/">here</a> to Learn more about what the Utah Department of Transportation is doing to keep drivers safe.</p>

        </div>
    </div>
    <br />
</body>
