@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h4>You have now been unsubcribed</h4>
<p>Please click <a class="btn" asp-controller="Home" asp-action="Index">here</a> to return home.</p>