@{
    ViewData["Title"] = " Search Page";
}

<div class="text-center mt-5">
    <br />
    <h1 class="">The Utah Crash Search Page</h1>
    <br />
    <h4>Don't yeet your car off the road folks</h4>
    <a asp-action="SeeTable">See all the records</a>
    <a asp-action="Index">Go Home</a>

    <br />
    <p>Search stuff below!</p>

</div>